@model Club

<form method="post">
	<div class="border p-3 mt-5 bg-dark w-75 mx-auto">
		<div class="row pb-2">
			<h2 class="text-warning">Add new member(User) to the Club</h2>
			<hr />
		</div>

		<div class="mb-3 text-light">
				<span class="input-group-text">New User: </span>
				<input class="form-control" placeholder="Enter user name or (-)" />
		</div>

		<button type="submit" class="btn btn-warning" style="width:100px">Create</button>
		<a asp-controller="Club" asp-action="Index" class="btn btn-secondary" style="width:200px">
			Back to Club List
		</a>

	</div>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

}