
<div class="alert alert-dismissible alert-danger mt-5 w-50">
	<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	
	<strong class="display-6">Oh snap!</strong> <h6 class="text-danger mt-2 ps-5  display-5">User are new</h6>
	<h5 class="mt-5 ps-5">
		<a asp-controller="User" asp-action="Create" class="alert-link ">
		Creat Account First
		</a> .. and try Loan again.
	</h5>
</div>